.bg-dark-blue {
  background: hsl(230, 17%, 14%);
}

.bg-dark-blue-pattern {
  background: hsl(232, 19%, 15%);
}

body {
  font-family: "Inter", sans-serif;
  background: hsl(230, 17%, 14%);
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}
